#navi-menu-title {
	display: none;
}
.nav-activated {
	position: absolute;
}
.left-panel, .right-panel {
	top: 0;
}
.left-panel {
	
}
.right-panel {
	
}
.nav-activated #navi-menu-title {
	display: block;
}
.nav-activated ul {
	position: relative;
}
	.nav-activated li {
		display: block;
	}