body {
	text-align: center;
	overflow-x: hidden;
}
ul {
	padding: 0;
}
.container {
	width: 1170px;
	margin: 0 auto;
}
#custom-nav-init {
	height: 30px;
	width: 40px;
	background-color: gray;
	float: left;
}
nav {
	float: right;
}
	nav li {
		text-decoration: none;
		list-style: none;
		display: inline-block;
		cursor: pointer;
		margin-right: 15px;
	}
		nav li:last-child {
			margin-right: 0;
		}
#logo {
	float: left;
	margin-left: 30px;
}
.push {
	clear: both;
}